.footer-body{

    /* border:2px solid red; */
    width: 100%;
    height: 480px;
    background-color: #181818;
    color: white;
    /* margin-top: 2000px; */
    @media screen and (max-width:980px) {
        border: 2px solid blue;
        height: 480px;
        

    }
   
}

.footer-body-first{

    /* border: 2px solid green; */
    width: 100%;
    height: 340px;
    /* margin: auto; */
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    border-bottom: 1px solid white ;
    @media screen and (max-width:980px) {
        border: 2px solid red;
        height: 300px;
        display: flex;
        flex-direction: column;
        padding-left: 160px;
        align-items: flex-start;
        

    }
        

}

.first-box{

    /* border: 2px solid black; */
    width: 13%;
    height: 280px;
    margin-top: 10px;
    padding-left: 20px;
    line-height: 1.9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (max-width:980px) {

        /* border: 2px solid red; */
        height: 30px;
        display: flex;

    }
    p{
            font-size: 16px;
            font-weight: lighter;
            @media screen and (max-width:980px) {
                display: none;
            }
    }
    h2{
        font-size: 17px;

    }
    /* padding-left: 10px; */
}



.second-box{

    /* border: 2px solid black; */
    width: 12%;
    height: 250px;
    margin-top: 10px;
    padding-top: 40px;
    line-height: 1.9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (max-width:980px) {
        display: none;
    }
    p{
        font-size: 16px;
        font-weight: lighter;
        
}
h2{
    font-size: 17px;

}
}

.third-box{
    /* border: 2px solid black; */
    width: 10%;
    height: 280px;
    margin-top: 10px;
    line-height: 1.9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (max-width:980px) {

        /* border: 2px solid red; */
        height: 30px;
        display: flex;
        margin-top: 20px;
        padding-left: 20px;

    }
    p{
        font-size: 16px;
        font-weight: lighter;
        @media screen and (max-width:980px) {
            display: none;
        }
}

h2{
    font-size: 17px;

}

}

.fourth-box{
    /* border: 2px solid black; */
    width: 30%;
    height: 280px;
    margin-top: 10px;
    text-align: left;
    padding-left: 20px;
    display: flex;
    flex-direction: column;


h2{
    font-size: 17px;
    @media screen and (max-width:980px) {

        /* border: 2px solid red; */
        height: 30px;
        display: flex;
        margin-top: 10px;
        padding-left: 0px;

    }

}

h4{

    font-size: 16px;
    padding-top: 13px;
    font-weight: lighter;
    color: white;
    @media screen and (max-width:980px) {
        display: none;
    }
    
}


}

.fourth-box h4:hover{

    cursor: pointer;
    font-weight: 400;
    transform: none;
}

.fourth-box ul {
    list-style-type: none;
    /* border: 2px solid red; */
    width: 270px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    /* align-items: flex-start; */
    font-size: 26px;
    /* margin-left: 150px; */
    margin-top: 40px;
    :hover{

        cursor: pointer;
    }
    @media screen and (max-width:980px) {
        display: none;
    }
}

.explore{
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    @media screen and (max-width:980px) {
        /* border: 2px solid red; */
        margin-top: 20px;
    }
}

.footer-body-last{

    /* border: 2px solid blue; */
    width: 100%;
    height: 80px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #181818;
}

.box1{

    /* border: 2px solid yellow; */
    width: 18%;
    height: 50px;
    margin-top: 10px;
    background-color: #181818;
    display: flex;
    justify-content: space-evenly;
    img{
        padding-top: 4px;
    }
    /* padding-top: 14px; */

}

.box2{
    /* border: 2px solid yellow; */
    width: 20%;
    height: 50px;
    margin-top: 10px;
    background-color: #181818;
    /* @media screen and(max-width:980px) {
        
        border: 2px solid red;
    } */
   
}

.box2-child{

    border: 1px solid white;
    outline: 1px inset ;
    width: 170px;
    height: 47px;
    margin-left: 100px;
    display: flex;
    padding-top: 4px;
    /* box-sizing: border-box; */
    
    /* margin-top: 10px; */
}
.box2-child:hover{

    cursor: pointer;
    /* border:2px solid white; */
    

}
.box2-child p:nth-child(2){

    padding-left: 10px;
    padding-top: 10px;
    font-weight: 500;
    font-size: 20px;
    margin-left: 10px;
    color: white;
}
.circle{

    margin-left: 20px;
    /* border: 2px solid black; */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: url(https://media.istockphoto.com/id/1471401435/vector/round-icon-of-indian-flag.jpg?s=612x612&w=0&k=20&c=kXy7vTsyhEycfrQ9VmI4FpfBFX2cMtQP5XIvTdU8xDE=);
    background-size: cover;
    
}

.box3{
    /* border: 2px solid red; */
    width: 20%;
    height: 50px;
    margin-top: 10px;
    line-height: 1.8;
    background-color: #181818;
}

.box3 p{
    
    font-size: 12px;
    text-align: right;
    color: white;
}